
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(to right, #000c67, #007be5);

}

 
.logo {
    
    height: 70px;
    border-radius: 50%;
    
}
/*mangas*/

.titulo{
    font-size: 25px;
    align-items: left;
    color:#ddd;
   
}

.nav-list {
    list-style-type: none;
  
    display: flex;
    gap: 4rem;
}

.nav-list li a {
    text-decoration: none;
    color: #fff9f9;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.menu {
    display: none;
    cursor: pointer;
    font-size: 1rem;
}

/*INICIO*/
.ti {
    font-family: 'Arial Black';
    text-align: center;
    font-size: 30px;
    
}

.parrafo{
    
    font-family: 'Bookman Old Style';
    text-align: justify;
    margin-inline: 10%;
    font-size: 15px;
   
}

.card-container {
    
    display: grid;  
    gap: 20px;
    padding: 30px;
    background: linear-gradient(to right, #089fd2, #1f6d87);
}

.card {
    border: 1px solid #ddd;
  
    border-radius: 9px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative; 
    z-index: 1; 
}

.btn{
    background-color: crimson;
}
.btn a{
    
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}




.inicio header nav a {
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
}




.ino {
    width: 189px;
    height: 267px;
    border-radius: 10%;
    margin: auto;
   
   
}



.comentarios{
    background:
        linear-gradient(rgb(74, 84, 158), rgba(0,12,103,.8));
        background-size: cover;
        color: #fff;
        margin-top: 100px;
        padding: 70px 10px;
}

.comentarios .col{
    max-width: 1000px;
    margin: auto;
    
}

.comentarios input, .comentarios textarea{
    width: 50%;
    border: none;
    padding: 7px;
    border: 1px solid #8d8d8d ;
    margin-bottom: 10px;
    outline: none;
    
}
.comentarios .btn{
    background-color: none;
    padding: 5px 40px;
    border: 2px solid;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to right, #ff5b00, #ff9900);
}


footer {
    background-color: #000;
    color: #fff;
    padding: 2em 0;
    text-align: center;
    margin-top: auto;
}

/* Media Queries */
/* Móviles */
@media (max-width: 600px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #f7f3f3;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1000; 
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }

    .menu {
        display: block;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

   
    main, footer {
        padding: 9px;
    }
}

/* Tabletas */
@media (min-width: 601px) and (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    main, footer {
        padding: 15px;
    }
}

/* Escritorio */
@media (min-width: 1024px) {

    
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    main, footer {
        padding: 20px;
    }

    
}