/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}



.logo-img {
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    
}

.nav-list {
    list-style-type: none;
    gap: 1rem;
    display: flex;
}
/*nav ul li {
    margin-left: 20px;
}*/

.nav-list li a {
    color: white;
    text-decoration: none;
}

.abrir-menu,
.cerrar-menu{
    display:none;
}


.menu {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
}

main {
    padding: 20px;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

footer{
    background-color: #000;
    color: #fff;
    padding: 1em 0;
    
    text-align: center;
    margin-top: auto;
}

/* Media Queries */
/* Móviles */
@media (max-width: 600px) {
    
    .abrir-menu,.cerrar-menu{
        display:block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
    }


    
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
    }
    
    .menu {
        display: block;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    main, footer {
        padding: 10px;
    }
}

/* Tabletas */
@media (min-width: 601px) and (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    main, footer {
        padding: 15px;
    }
}

/* Escritorio */
@media (min-width: 1025px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    main, footer {
        padding: 20px;
    }
}
